<%- include ('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1>Sistema de cadastro</h1>      
        <hr>
        
            <br>
            <div class="card">
                <div class="card-body">
                    <h4>Cadastrar um estudante</h4>
                </div>
                <div class="card-footer">
                    <a href="/cadastrar/aluno"><button class="btn btn-primary">Cadastar</button></a>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-body">
                    <h4>Cadastrar uma disciplina</h4>
                </div>
                <div class="card-footer">
                    <a href="/cadastrar/disciplina"><button class="btn btn-primary">Cadastar</button></a>
                </div>
            </div>
       
    </div>


</body>
<%- include('partials/footer.ejs') %>
