<%- include ('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <section class="vh-100" style="background-color: #eee;">
        <hr>
       
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px; background-color: #FBFCFD;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cadastrar Aluno</p>
                      <img src="/img/estudante2.png"
                        class="img-fluid" alt="Sample image" style="Border-radius: 15px;">
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <a href="/cadastrar/aluno"><button type="submit" class="btn btn-success btn-lg mt-2">Aluno</button></a>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cadastrar Disciplina</p>
                        <img src="/img/disciplina.png"
                          class="img-fluid" alt="Sample image">
                          
                          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              <a href="/cadastrar/disciplina"><button type="submit" class="btn btn-success btn-lg mt-2">Disciplina</button></a>
                            </div>
                         </div>
                  </div>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
<%- include('partials/footer.ejs') %>
